@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #cad3ff;
  --foreground: #171717;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
}

#root,
#__next {
  width: 100%;
  height: 100%;
}

.bg-old-page {
  background-color: rgba(82, 83, 163, 0.1);
  background-image: linear-gradient(
    to bottom,
    rgba(82, 83, 163, 0.05) 0%,
    rgba(82, 83, 163, 0.1) 100%
  );
}

.font-serif {
  font-family: "Crimson Text", "Times New Roman", serif;
}

.shadow-page-inner {
  box-shadow:
    inset 0 0 10px rgba(82, 83, 163, 0.1),
    0 0 20px rgba(82, 83, 163, 0.05),
    0 4px 6px -1px rgba(82, 83, 163, 0.1);
}

transition-all {
  transition: all 0.3s ease-in-out;
}
